h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
b, strong {
    font-weight: 500;
}

body > .container, article > .container {
    background: #fff;
    border-radius: 15px;
    padding-bottom: 15px;
}

@media (min-width: 768px) {
    .post-container {
        padding-right: 15px;
    }
}
@media (min-width: 1200px) {
    .post-container, .sidebar-container {
        padding-right: 15px;
    }
}

.navbar-custom .navbar-brand {
    font-weight: 500;
}
.navbar-custom .nav li a {
    font-weight: 500;
}
.post-container h1, .post-container h2, .post-container h3, .post-container h4, .post-container h5, .post-container h6 {
    margin: 15px 0 10px;
}
.side-catalog {
    width: 100%;
    padding-right: 15px;
}
.side-catalog .catalog-body li a {
    max-width: 100%;
}
.side-catalog .catalog-body .h1_nav, .side-catalog .catalog-body .h2_nav, .side-catalog .catalog-body .h3_nav {
    font-weight: 500;
    padding-bottom: 5px;
}
.side-catalog .catalog-body li a {
    height: auto;
    white-space: normal;
}
.side-catalog .catalog-body li a {
    height: auto;
    line-height: normal;
    white-space: normal;
}

article.p-preview {
    padding-left: calc(14px + 141px);
    min-height: 87px;
    position: relative;
}

@media (min-width: 768px) {
    article.p-preview {
        padding-left: calc(22px + 240px);
        min-height: 148px;
    }
}

a.p-preview {
    display: block;
}

.img.p-preview {
    width: 141px;
    height: 87px;
    top: 0;
    left: 0;
    position: absolute;
}

@media (min-width: 768px) {
    .img.p-preview {
        width: 240px;
        height: 148px;
    }
}

.thumb-wrapper {
    position: relative;
    width: 100%;
}
.thumb.no-border {
    border: 0;
}
.thumb {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--button-light);
    border: 1px solid var(--border-thread-thumbnail);
}