---
layout: page
description: "Trang thông tin phường Tương Mai - TP Hà Nội"
---

{% for post in paginator.posts %}
<article class="p-preview">
    <div class="p-preview">
        <a href="{{ post.url | prepend: site.baseurl }}" class="p-preview">
            <div class="p-preview img">
                <div class="lazyload-wrapper">
                    <div class="thumb-wrapper">

                        {% if post.thumbnail %}
                        <div
                            class="thumb no-border"
                            style="
                                border-radius: 8px;
                                background-image: url('{{ post.thumbnail | prepend: site.baseurl }}');
                                height: 0px;
                                padding-top: 61.9%;
                            "
                        ></div>
                        {% else %}
                        <div
                            class="thumb no-border"
                            style="
                                border-radius: 8px;
                                background-image: url('{{ post.header-img | prepend: site.baseurl }}');
                                height: 0px;
                                padding-top: 61.9%;
                            "
                        ></div>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </a>
        <a href="{{ post.url | prepend: site.baseurl }}" class="p-preview">
            <h2 class="post-title">
                {{ post.title }}
            </h2>
        </a>
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
        <p class="post-meta">
            {{ post.date | date: "%d-%m-%Y" }}
        </p>
    </div>
</article>

<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
